*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: linear-gradient(90deg, #3361ba 0%, #210e51 80%);
    color: white;
}

#form-heading{
    letter-spacing: .2rem;
    font-weight: bold;
    font-size: xx-large;
}

.form{
    width: 100%;

}
#search-input{
    width: 200%;
    padding: 5%;
    font-size: large;
}

button{
    width: 200%;
    margin-top: 5%;
    background-color: #5098e6;
    color: white;
}

.weather-hr{
    width: 200%;
    border: 1px solid #cbcbcb;
    
}


li{
    background-color: #aeaeae;
    padding: 8px;
    border-radius: 3px;
    list-style-type: none;
    text-align: center;
    width:113%;
    margin-top: 5%;
}

#today{
    margin-top: 1%;
    margin-left:10%;
    border-top: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    padding: 1%;
    
}

#today h1{
    font-size: x-large;
    display: inline;
    
}
#today h2{
    font-size: large
    
}

.forecastCard{
background-color: #2d3e50;
color: white;
padding-left: 2%;
padding-right: 2%;
margin: 1%;

}

p{
    font-size: small;
}

h3{
    font-size: medium;
}




.forecast-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left:10%;
 
    
  }


